<div>
<div class="content-container">
<mat-icon id="close-icon" (click)="closeDialog()"></mat-icon>
<p class="content-span full-width">
 {{data.message}}
</p>
<br/>
<button mat-flat-button id="no-button" [mat-dialog-close]="false">No</button>
<button mat-flat-button id="yes-button" [mat-dialog-close]="true"> Yes</button>
</div>
</div>