.spinner {
    position: fixed !important;
    z-index: 100000;
    background: rgba(0, 0, 0, 0.5);
    color: #f5f5f5;
    width: 100%;
    top: 0;
    bottom: 0;
    text-align: center;
    
}

.mat-spinner {
    top: 50vh;
    position: relative;
    margin-left: 50%;
    margin-right: 50%;
}