<div class="grid-container">
  <div class="container">
    <div fxLayout="row" fxLayoutAlign="center center" class="content">
      <mat-toolbar>
        <span>Trasactions</span>
      </mat-toolbar>
     
      <mat-card class="example-card">
        <mat-card-header class="info-color white-text text-center py-4">
          <h5>
            <strong>Trasactions details</strong>
          </h5>
        </mat-card-header>
      
        <mat-card-content>
          <div>
            <form class="example-container" [formGroup]="transactionForm" #transactionNgForm="ngForm" fxLayout="column"
              fxLayoutAlign="center center" fxLayoutGap="10px" (ngSubmit)="transactionNgForm.valid && saveTransactionDetails(transactionNgForm)">
              <mat-form-field>
                <input type="email" matInput placeholder="Email" formControlName="user">
              </mat-form-field>
              <app-show-errors [control]="transactionForm.controls['user']" ></app-show-errors>

              <mat-form-field>
                <input type="number" matInput placeholder="Amount" formControlName="amount">             
              </mat-form-field>
              <app-show-errors [control]="transactionForm.controls['amount']" ></app-show-errors>

              <mat-form-field>
                <mat-select placeholder="Select a currency" formControlName="currency">
                  <mat-option value="GBP">GBP</mat-option>
                   <mat-option value="EUR">EUR</mat-option>
                  <mat-option value="INR">INR</mat-option>
                   <mat-option value="USD">USD</mat-option>
                </mat-select>
              </mat-form-field>
                <app-show-errors [control]="transactionForm.controls['currency']" ></app-show-errors>

             <mat-form-field>
               <input matInput [matDatepicker]="picker" placeholder="Choose a date" formControlName="txn_date">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
              <app-show-errors [control]="transactionForm.controls['txn_date']" ></app-show-errors>

              <mat-dialog-actions>
                <button type="submit" mat-raised-button color="primary" [disabled] ="!transactionNgForm.valid">Submit</button>
                <button type="button" mat-button [routerLink]="['/transactions/list']">Cancel</button>
              </mat-dialog-actions>
            </form>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>