/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.example-container {
    display: flex;
    flex-direction: column;

  }
  
  .example-container > * {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
